@mixin displayState($display , $justifyContent) {

    display:$display;
    justify-content:$justifyContent;
}

@mixin setBackgroundBase($backgroundImage , $backgroundSize) {

    background:$backgroundImage;
    background-repeat:no-repeat;
    background-position:center;
    background-size:$backgroundSize;
}

body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Calibri;  
    transition:background 1s;
}

header{
    width:100%;
    height:90vh;
    @include displayState(flex , space-between);
    flex-direction:column;
    overflow:hidden;
}
.containerTopMenu {
    width:100%;
    height:65px;
    @include displayState(flex , flex-end);
}
.topMenu {
    width:700px;
    @include displayState(flex , flex-end);
}

.itemBase {
    width:119px;
    height:100%;
    font-size:160%;
    text-align:center;
    line-height:235%;
    transition:none;
    a{
        text-decoration:none;
        color:black;
    }
}
.itemEnd {
    @extend .itemBase;
    margin-right:5%;
}
.containerContentHeader {
    width:60%;
    height:80%;
    display:flex;
    flex-direction:column;
}
.containerMotion {
    width:100%;
    height:80%;
    display:flex;
    flex-direction:column;
}
.containerSunAndMoon {
    width:100%;
    height:45%;
    display:flex;
}
.setShapeBase {
    border-radius:200%;
    width:22%;
    position:relative;
    cursor:pointer;
}
.sun {
    @include setBackgroundBase(url(../../assets/img/sun.png) , 165%);
    @extend .setShapeBase;
    margin-left:7%;
}
.sunMove {
    animation: sunMove .7s 1 forwards;
}
@keyframes sunMove {
    0% {top:0%}
    100% {top:-273%;}
}
.moon {
    @include setBackgroundBase(url(../../assets/img/moon.png) , 165%);
    @extend .setShapeBase;
    right:22%;
    top:-273%;
}
.moonMove {
    animation: moonMove .7s 1 forwards;
}
@keyframes moonMove {
    0% {top:-273%;}
    100% {top:0%}
}
.containerCity{
    @include setBackgroundBase(url(../../assets/img/city_in_the_day.png) , cover);
    width:100%;
    height:65%;
    transition:all 1.5s;
}
.containerText {
    width:100%;
    height:20%;
    @include displayState(flex , center);
    align-items:center;
}
.containerBigLogo{
    width:55%;
    height:250px;
    position:absolute;
    bottom:50.5%;
    left:45%;
    display:flex;
    flex-direction:column;
}
.bigLogo {
    width:100%;
    height:75%;
    font-size:16rem;
    line-height:70%;
    text-align:center;
}
.textLogo {
    width:92%;
    height:17%;
    @include displayState(flex , flex-end);
}
.text {
    width:auto;
    height:100%;
    font-size:2rem;
}
.textContent {
    width:97%;
    height:80%;
    text-align: justify;
    font-size:1.2rem;
    font-weight:bold;
}